:root {
  --cultured: #f0f0f0;
  --platinum: #e6e6e6;
  --platinum-dark: #dbdbdb;
  --celtic-blue: #0b5ef8;
  --rich-black: #070707;
  --ribbon: #fcec0a;
}
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}

.link {
  text-decoration: none !important;
  color: var(--celtic-blue) !important;
}

.righteous-font-small-bold {
  font-weight: bold;
  font-size: 16px;
  color: var(--celtic-blue);
  font-family: "Righteous", Sans-Serif;
}

.righteous-font-small {
  font-size: 16px;
  color: var(--celtic-blue);
  font-family: "Righteous", Sans-Serif;
}

.righteous-font-big-bold {
  font-size: 26px;
  font-weight: bold;
  color: var(--celtic-blue);
  font-family: "Righteous", Sans-Serif;
}

.righteous-font-big {
  font-size: 26px;
  color: var(--celtic-blue);
  font-family: "Righteous", Sans-Serif;
}

#App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--rich-black);
  background-image: url("./content/img/svg/hexBG.svg");
}

.profile-headline {
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-group {
  margin-bottom: 1rem;
}

.btn-action {
  display: inline-block;
  padding: 8px 20px;
  color: var(--cultured);
  background-color: var(--celtic-blue) !important;
  border: 1px solid var(--cultured) !important;
  border-radius: 7px;
}
